DATABASE_URL="postgresql://resource_server:resource_server@localhost:5434/resource_server?schema=public"
HYDRA_ADMIN_URL="http://127.0.0.1:4445"
PORT=3003

SEED_ADMIN_EMAIL="admin@example.test"
SEED_ADMIN_NAME="Local Admin"
SEED_ADMIN_PASSWORD="change-me-local-admin-1!"
SEED_USER_EMAIL="user@example.test"
SEED_USER_NAME="Local User"
SEED_USER_PASSWORD="change-me-local-user-1!"
